{% extends 'base.html.twig' %}

{% block title %}
    Create new user
{% endblock %}

{% block body %}
    <div class="text-center mb-5">
        <h1>Create new user</h1>
    </div>

    {% include 'user/partial/_form.html.twig' with {"myName":2020} %}

{% endblock %}
